.place__title {
  grid-area: title;
  max-width: 440px;
  margin: 0 0 calc(48px - 27px);
  padding: 0;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 4.75rem;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 330px;
    margin-bottom: calc(48px - 25px);
    font-size: 2.625rem;
    line-height: 2.875rem;
  }
}

@media screen and (max-width: 600px) {
  .place__title {
    margin: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    margin: 0 16px;
    font-size: 2rem;
    line-height: 2.1875rem;
  }
}
