.places {
  margin: 92px 48px 0;
}

@media screen and (max-width: 768px) {
 .place {
   margin-top: 88px 24px 0;
 }
}

@media screen and (max-width: 425px) {
  .place {
    margin-top: 64px 16px 0;
  }
}
