.lead {
  margin-top: 48px;
  padding: 0 48px;
}

@media screen and (min-width: 1280px) {
  .lead {
    max-width: 984px;
    margin: 56px auto 0;
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    padding: 0;
  }
}
