.lead {
  margin-top: 48px;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin-left: -24px;
    margin-right: -24px;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    margin-left: -16px;
    margin-right: -16px;
  }
}
