.cover {
  margin-top: 92px;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .cover {
    margin: 92px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    margin-top: 66px;
  }
}
