.cover {
  margin: 92px -48px 0;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .cover {
    width: calc(100vw - 96px);
    margin: 92px auto 0;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 90px -24px 0;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 66px -16px 0;
  }
}
