.cover__background {
  height: 62.5vw;
  display: grid;
  row-gap: 32px;
  grid-template-rows: repeat(2, auto);
  transition: 0.3s ease-in-out;
  background: rgb(42, 44, 47, .3);
}

.cover__background:hover {
  background: rgba(42, 44, 47, .8);
}

@media screen and (min-width: 1280px) {
  .cover__background {
    height: calc((100vw - 96px) * 0.625);
  }
}

@media screen and (max-width: 640px) {
  .cover__background {
    row-gap: 5vw;
  }
}
