.cover__title {
  max-width: 560px;
  position: absolute;
  top: calc(50% - 1.5em);
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 4.75rem;
  letter-spacing: 0%;
  color: #fff;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 72.9vw;
    font-size: 9.375vw;
    line-height: 9.9vw;
  }
}
