.place {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "title website"
    "image ."
    "image .";
  gap: 27px 32px;
}

@media screen and (max-width: 768px) {
  .place {
    margin-top: 73px;
    gap: 25px 28px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    margin-top: 50px;
    display: block;
  }
}
