.place__website {
  margin: 0 0 calc(48px - 27px);
  grid-area: website;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .place__website {
    margin: 0 0 calc(48px - 25px);
  }
}

@media screen and (max-width: 425px) {
  .place__website {
    margin: 32px 0 0;
  }
}
